*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-image: url('../img/pattern.png');
    background-color: aqua;
    height: 100px;
    background-size: 30%;
}

main{
    margin-top: 20px;
}

.logo{
    width: 300px;
    padding-top: 30px;
}

#data{
    font-size: small;
}

#author-name{
    color: rgb(0, 115, 255);
}

.author{
    font-size: 18px;
    color: gray;
}

.photo{
    margin: 20px 0px;
}

#info-foto{
    font-size: small;
}

#testo-foto-finali{
    color: grey;
}

#image-monitor{
    background-image: url('../img/monitor.jpg'); 
}

#image-graph{
    background-image: url('../img/graph.jpg');
    margin-top: 5px;
}

.image{
    width: 200px;
    height: 200px;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
}


#testa-tabella{
    background-color: rgb(83, 118, 184);
}

table{
    border-spacing: 0;
    text-align: left;
}

thead{
    color: aliceblue;
}

.row{
    background-color: #7373bd;
}

#row 2{
    background-color: white;
}

.highlight{
    background-color: yellow;
}

ul{
    margin: 30px 15px;
}

footer{
    margin-top: 20px;
}

.text{
    width: 50%;
}

#text-table{
    margin-top: 20px;
}